{% extends "base.twig" %}

{% block content %} 
  <section class="section bg-dark-gray parallax ">
		<img src="{{TimberImage(options.default_image)|resize(1400)}}" alt="" class="section-background-image header-background-image fade-15">
		<div class="row section-content thick-padding">
			<div class="column text-center white">
				<h1>{{ title|default("Job Postings") }}</h1>
			</div>
		</div>
	</section>
  {# Archive Grid #}
  <section class="section bg-white" id="job_archive">
    <div class="section-content normal-padding row two-thirds-width">
      <div class="column text-center">
        {# Message Filters #}
        {% include "jobs/job-filtering.twig" %}

        {# Archive Grid #}
        {% include "jobs/archive-grid.twig" with {items: posts} %}
      </div>
		</div>
	</section>
  {% include "pagination.twig" %}

{% endblock %}