{% extends "base.twig" %}

{% block content %}
  {# Apply Modal #}
  {% set applyModal = 'job_apply' %}
  <div class="reveal small" id="{{applyModal}}" data-reveal data-append-to="#wrapper">
    <h3>Apply</h3>
    {{"[gravityform id='#{options.apply_form_id}' title='false' description='false' field_values='position=#{post.title}']"|shortcodes}}
    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

	<div class="content-wrapper post-type-{{post.post_type}}" id="post-{{post.ID}}">
		{# Job Header #}
    {% include "jobs/single-job-header.twig" with {job: get_post_type(post), applyModal: applyModal} %}

    <section class="section bg-silver">
      <div class="section-content normal-padding">
        <div class="row normal-width">
          <div class="column">
            {% include "jobs/core-values.twig" %}
          </div>
        </div>
      </div>
    </section>
		
    <section class="section bg-white">
      <div class="section-content thick-padding">
        <div class="row half-width">
          <div class="column job-main-content">
            <h3>{{post.title}} Job Description</h3>
            {# Job Description #}
            {% if post.job_description %}
              <div class="job-description">{{post.job_description|shortcodes}}</div>
            {% else %}
              <div class="job-description">{{post.content|shortcodes}}</div>
            {% endif %}
            
            {% if options.company_info_link %}
              <a href="{{options.company_info_link}}" class="learn-more-link">Learn More About {{site.name}}>></a>
            {% endif %}

            {# Apply Now #}
            <div class="reveal-wrapper reveal-button button apply-button dark" data-open="{{applyModal}}">Apply</div>
          </div>
        </div>
      </div>
    </section>

    {% include "jobs/about-company.twig" %}

		{% for section in post.get_field('page_sections') %} 
			{% include ['sections/'~section.acf_fc_layout~'.twig', 'sections/standard.twig']  %}
		{% endfor %}
			
	</div><!-- /content-wrapper -->
{% endblock %}


