<a href="{{post.link}}" class='tease-job tease'>
  <h5 class="job-title">{{post.title}}</h5>
  {% if post.team %}
    <div class="job-team">{{post.team.name}}</div>
  {% endif %}
  {% if post.team %}
    <div class="job-type">{{post.type.name}}</div>
  {% endif %}
</a>
