<section class="section bg-silver">
  <div class="section-content thick-padding">
    <div class="row two-thirds-width">
      <div class="column section-content-3-2 section-content-alignment-middle">
        <div class="section-column-1">
          {% if options.company_video %}
            <div class="responsive-embed">
              {{options.company_video|oembed}}
            </div>
          {% else %}
            {% set companyImg = options.company_image ? TimberImage(options.company_image) : TimberImage(options.default_image) %}
            <img src="{{companyImg}}" alt="{{companyImg.alt|default(site.name)}}" class="company-image">
          {% endif %}
        </div>

        <div class="section-column-2 about-company-text">
          <h3>About {{site.name}}</h3>
          <p>{{options.company_description}}</p>
        </div>
      </div>
    </div>
  </div>
</section>