{% set id = 'job_apply' %}
<div class="reveal small" id="{{id}}" data-reveal data-append-to="#wrapper">
  <h3>Apply</h3>
  {{"[gravityform id='#{options.apply_form_id}' title='false' description='false' field_values='position=#{job.title}']"|shortcodes}}
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="reveal-wrapper reveal-button button apply-button" data-open="{{id}}">Apply</div>