<div class="core-values">
  <h3 class="core-value-title text-center">At {{site.name}} We Value</h3>
  <div class="core-value-grid">
    {% for value in options.job_core_values %}
      <div class="core-value">
        <h5>{{value.name}}</h5>
        <p>{{value.description}}</p>
      </div>
    {% endfor %}
  </div>
  <div class="row half-width">
    <div class="column">
      <h6 class="cv-sub-text text-center">With that in mind take a look at the job description below and if is sounds like a good fit consider appliying</h5>
    </div>
  </div>
  <div class="reveal-wrapper reveal-button button apply-button dark text-center" data-open="{{applyModal}}">Apply</div>
</div>