<div class="job-tag-filters">
  <div class="filter-label">I'm Looking For Jobs For:</div>
  <div class="filter-wrapper">
    {% include 'components/tag-filter.twig' with {type: 'job', tax: 'team'} %}
    {% include 'components/tag-filter.twig' with {type: 'job', tax: 'type'} %}
    <div class="search-wrapper" id="job_search">
      <input type="checkbox" class="search-toggle" />
      <div class="search-icon"><i class="fa fa-search"></i></div>
      <div class="search-input">
        {% set args = {type: "job"} %}
        {% include "components/custom-search.twig" with {post: args} %}
      </div>
    </div>
  </div>
</div>