<section class="section job-posting-header bg-dark parallax ">
  {% set headerImage = job.image ? TimberImage(job.image) : TimberImage(options.default_image) %}
  <img src="{{headerImage|resize(1400)}}" alt="{{headerImage.alt|default(job.title)}}" class="section-background-image header-background-image fade-15">
  <div class="section-content thick-padding no-animation">
    <div class="row two-thirds-width">
      <div class="column white">
        <div class="job-header-content">
          <h1>{{job.title}}</h1>
          {# {% if job.team %}
            <h4><span class="job-label">Team: </span>{{job.team.name}}</h4>
          {% endif %}
          <h4><span class="job-label">Reports To: </span>{{job.job_report_to}}</h4>
          <h4><span class="job-label">Starting Pay: </span>{{job.starting_pay}}</h4>
          <p class="job-type-description">{{job.position_type_description}}</p> #}
          {% if job.position_snippet %}
            <p class="position_snippet">{{job.position_snippet}}</p>
          {% endif %}
          <div class="reveal-wrapper reveal-button button apply-button hollow white" data-open="{{applyModal}}">Apply</div>
        </div>
      </div>
    </div>
  </div>
</section>